/*FROM http://wwwdev.ebi.ac.uk/pdbe/entry/static/css/ebi-core.css*/
	html
{
	font-size:100%;
	overflow-y:scroll;
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%
}

/*FROM http://wwwdev.ebi.ac.uk/pdbe/entry/static/bundle-pdbe-ui_head.css*/
.primary-1
{
	background-color:#74b360
}
.primary-2
{
	background-color:#638658
}
.primary-3
{
	background-color:#34741f
}
.primary-4
{
	background-color:#a0d98e
}
.primary-5
{
	background-color:#afd9a2
}
.secondary-a-1
{
	background-color:#556190
}
.secondary-a-2
{
	background-color:#4b516c
}
.secondary-a-3
{
	background-color:#58669e
}
.secondary-a-4
{
	background-color:#8a96c7
}
.secondary-a-5
{
	background-color:#9ba3c7
}
.secondary-b-1
{
	background-color:#d3b671
}
.secondary-b-2
{
	background-color:#9e8e67
}
.secondary-b-3
{
	background-color:#896b25
}
.secondary-b-4
{
	background-color:#e9d198
}
.secondary-b-5
{
	background-color:#e9d7ae
}
.complement-1
{
	background-color:#c96c79
}
.complement-2
{
	background-color:#976269
}
.complement-3
{
	background-color:#832330
}
.complement-4
{
	background-color:#e495a0
}
.complement-5
{
	background-color:#e4aab2
}
	#beta-banner:hover
{
	border-bottom:0
}
	#beta-banner
{
	position:absolute;
	top:0;
	background:url('images/banners/beta-banner.png') no-repeat top left;
	width:120px;
	height:120px;
	z-index:1;
	border-bottom:0
}

.container_pdbe
{
	width:100%;
	margin-left:.000%;
	margin-right:.000%
}
.grid_1,.grid_2,.grid_3,.grid_4,.grid_5,.grid_6,.grid_7,.grid_8,.grid_9,.grid_10,.grid_11,.grid_12,.grid_13,.grid_14,.grid_15,.grid_16,.grid_17,.grid_18,.grid_19,.grid_20,.grid_21,.grid_22,.grid_23,.grid_24
{
	display:inline;
	float:left;
	position:relative;
	margin-left:1.000%;
	margin-right:1.000%
}
.alpha
{
	margin-left:0
}
.omega
{
	margin-right:0
}
.container_pdbe.alpha,.container_pdbe.omega
{
	width:100.000%
}
.container_pdbe.alpha.omega
{
	width:100.000%
}
.container_pdbe .grid_1
{
	width:2.167%
}
.container_pdbe .grid_1.alpha,.container_pdbe .grid_1.omega
{
	width:3.167%
}
.container_pdbe .grid_1.alpha.omega
{
	width:4.167%
}
.container_pdbe.grid_1
{
	width:2.167%
}
.container_pdbe .grid_2
{
	width:6.333%
}
.container_pdbe .grid_2.alpha,.container_pdbe .grid_2.omega
{
	width:7.333%
}
.container_pdbe .grid_2.alpha.omega
{
	width:8.333%
}
.container_pdbe.grid_2
{
	width:6.333%
}
.container_pdbe .grid_3
{
	width:10.500%
}
.container_pdbe .grid_3.alpha,.container_pdbe .grid_3.omega
{
	width:11.500%
}
.container_pdbe .grid_3.alpha.omega
{
	width:12.500%
}
.container_pdbe.grid_3
{
	width:10.500%
}
.container_pdbe .grid_4
{
	width:14.667%
}
.container_pdbe .grid_4.alpha,.container_pdbe .grid_4.omega
{
	width:15.667%
}
.container_pdbe .grid_4.alpha.omega
{
	width:16.667%
}
.container_pdbe.grid_4
{
	width:14.667%
}
.container_pdbe .grid_5
{
	width:18.833%
}
.container_pdbe .grid_5.alpha,.container_pdbe .grid_5.omega
{
	width:19.833%
}
.container_pdbe .grid_5.alpha.omega
{
	width:20.833%
}
.container_pdbe.grid_5
{
	width:18.833%
}
.container_pdbe .grid_6
{
	width:23.000%
}
.container_pdbe .grid_6.alpha,.container_pdbe .grid_6.omega
{
	width:24.000%
}
.container_pdbe .grid_6.alpha.omega
{
	width:25.000%
}
.container_pdbe.grid_6
{
	width:23.000%
}
.container_pdbe .grid_7
{
	width:27.167%
}
.container_pdbe .grid_7.alpha,.container_pdbe .grid_7.omega
{
	width:28.167%
}
.container_pdbe .grid_7.alpha.omega
{
	width:29.167%
}
.container_pdbe.grid_7
{
	width:27.167%
}
.container_pdbe .grid_8
{
	width:31.333%
}
.container_pdbe .grid_8.alpha,.container_pdbe .grid_8.omega
{
	width:32.333%
}
.container_pdbe .grid_8.alpha.omega
{
	width:33.333%
}
.container_pdbe.grid_8
{
	width:31.333%
}
.container_pdbe .grid_9
{
	width:35.500%
}
.container_pdbe .grid_9.alpha,.container_pdbe .grid_9.omega
{
	width:36.500%
}
.container_pdbe .grid_9.alpha.omega
{
	width:37.500%
}
.container_pdbe.grid_9
{
	width:35.500%
}
.container_pdbe .grid_10
{
	width:39.667%
}
.container_pdbe .grid_10.alpha,.container_pdbe .grid_10.omega
{
	width:40.667%
}
.container_pdbe .grid_10.alpha.omega
{
	width:41.667%
}
.container_pdbe.grid_10
{
	width:39.667%
}
.container_pdbe .grid_11
{
	width:43.833%
}
.container_pdbe .grid_11.alpha,.container_pdbe .grid_11.omega
{
	width:44.833%
}
.container_pdbe .grid_11.alpha.omega
{
	width:45.833%
}
.container_pdbe.grid_11
{
	width:43.833%
}
.container_pdbe .grid_12
{
	width:48.000%
}
.container_pdbe .grid_12.alpha,.container_pdbe .grid_12.omega
{
	width:49.000%
}
.container_pdbe .grid_12.alpha.omega
{
	width:50.000%
}
.container_pdbe.grid_12
{
	width:48.000%
}
.container_pdbe .grid_13
{
	width:52.167%
}
.container_pdbe .grid_13.alpha,.container_pdbe .grid_13.omega
{
	width:53.167%
}
.container_pdbe .grid_13.alpha.omega
{
	width:54.167%
}
.container_pdbe.grid_13
{
	width:52.167%
}
.container_pdbe .grid_14
{
	width:56.333%
}
.container_pdbe .grid_14.alpha,.container_pdbe .grid_14.omega
{
	width:57.333%
}
.container_pdbe .grid_14.alpha.omega
{
	width:58.333%
}
.container_pdbe.grid_14
{
	width:56.333%
}
.container_pdbe .grid_15
{
	width:60.500%
}
.container_pdbe .grid_15.alpha,.container_pdbe .grid_15.omega
{
	width:61.500%
}
.container_pdbe .grid_15.alpha.omega
{
	width:62.500%
}
.container_pdbe.grid_15
{
	width:60.500%
}
.container_pdbe .grid_16
{
	width:64.667%
}
.container_pdbe .grid_16.alpha,.container_pdbe .grid_16.omega
{
	width:65.667%
}
.container_pdbe .grid_16.alpha.omega
{
	width:66.667%
}
.container_pdbe.grid_16
{
	width:64.667%
}
/*.container_pdbe .grid_17
{
	width:68.833%
}
.container_pdbe .grid_17.alpha,.container_pdbe .grid_17.omega
{
	width:69.833%
}
.container_pdbe .grid_17.alpha.omega
{
	width:70.833%
}
.container_pdbe.grid_17
{
	width:68.833%
}*/
.container_pdbe .grid_17
{
	width:100%
}
.container_pdbe .grid_17.alpha,.container_pdbe .grid_17.omega
{
	width:100%
}
.container_pdbe .grid_17.alpha.omega
{
	width:100%
}
.container_pdbe.grid_17
{
	width:100%
}

.container_pdbe .grid_18
{
	width:73.000%
}
.container_pdbe .grid_18.alpha,.container_pdbe .grid_18.omega
{
	width:74.000%
}
.container_pdbe .grid_18.alpha.omega
{
	width:75.000%
}
.container_pdbe.grid_18
{
	width:73.000%
}
.container_pdbe .grid_19
{
	width:77.167%
}
.container_pdbe .grid_19.alpha,.container_pdbe .grid_19.omega
{
	width:78.167%
}
.container_pdbe .grid_19.alpha.omega
{
	width:79.167%
}
.container_pdbe.grid_19
{
	width:77.167%
}
.container_pdbe .grid_20
{
	width:81.333%
}
.container_pdbe .grid_20.alpha,.container_pdbe .grid_20.omega
{
	width:82.333%
}
.container_pdbe .grid_20.alpha.omega
{
	width:83.333%
}
.container_pdbe.grid_20
{
	width:81.333%
}
.container_pdbe .grid_21
{
	width:85.500%
}
.container_pdbe .grid_21.alpha,.container_pdbe .grid_21.omega
{
	width:86.500%
}
.container_pdbe .grid_21.alpha.omega
{
	width:87.500%
}
.container_pdbe.grid_21
{
	width:85.500%
}
.container_pdbe .grid_22
{
	width:89.667%
}
.container_pdbe .grid_22.alpha,.container_pdbe .grid_22.omega
{
	width:90.667%
}
.container_pdbe .grid_22.alpha.omega
{
	width:91.667%
}
.container_pdbe.grid_22
{
	width:89.667%
}
.container_pdbe .grid_23
{
	width:93.833%
}
.container_pdbe .grid_23.alpha,.container_pdbe .grid_23.omega
{
	width:94.833%
}
.container_pdbe .grid_23.alpha.omega
{
	width:95.833%
}
.container_pdbe.grid_23
{
	width:93.833%
}
.container_pdbe .grid_24
{
	width:100.000%;
	margin-left:0;
	margin-right:0
}
.container_pdbe .grid_24.alpha
{
	width:99.000%;
	margin-left:1%
}
.container_pdbe .grid_24.omega
{
	width:99.000%;
	margin-right:1%
}
.container_pdbe .grid_24.alpha.omega
{
	width:98.000%;
	margin-left:1%;
	margin-right:1%
}
.container_pdbe.grid_24
{
	width:100.000%
}
.container_pdbe .prefix_1
{
	padding-left:4.167%
}
.container_pdbe .prefix_2
{
	padding-left:8.333%
}
.container_pdbe .prefix_3
{
	padding-left:12.500%
}
.container_pdbe .prefix_4
{
	padding-left:16.667%
}
.container_pdbe .prefix_5
{
	padding-left:20.833%
}
.container_pdbe .prefix_6
{
	padding-left:25.000%
}
.container_pdbe .prefix_7
{
	padding-left:29.167%
}
.container_pdbe .prefix_8
{
	padding-left:33.333%
}
.container_pdbe .prefix_9
{
	padding-left:37.500%
}
.container_pdbe .prefix_10
{
	padding-left:41.667%
}
.container_pdbe .prefix_11
{
	padding-left:45.833%
}
.container_pdbe .prefix_12
{
	padding-left:50.000%
}
.container_pdbe .prefix_13
{
	padding-left:54.167%
}
.container_pdbe .prefix_14
{
	padding-left:58.333%
}
.container_pdbe .prefix_15
{
	padding-left:62.500%
}
.container_pdbe .prefix_16
{
	padding-left:66.667%
}
.container_pdbe .prefix_17
{
	padding-left:70.833%
}
.container_pdbe .prefix_18
{
	padding-left:75.000%
}
.container_pdbe .prefix_19
{
	padding-left:79.167%
}
.container_pdbe .prefix_20
{
	padding-left:83.333%
}
.container_pdbe .prefix_21
{
	padding-left:87.500%
}
.container_pdbe .prefix_22
{
	padding-left:91.667%
}
.container_pdbe .prefix_23
{
	padding-left:95.833%
}
.container_pdbe .prefix_24
{
	padding-left:100.000%
}
.container_pdbe .suffix_1
{
	padding-right:4.167%
}
.container_pdbe .suffix_2
{
	padding-right:8.333%
}
.container_pdbe .suffix_3
{
	padding-right:12.500%
}
.container_pdbe .suffix_4
{
	padding-right:16.667%
}
.container_pdbe .suffix_5
{
	padding-right:20.833%
}
.container_pdbe .suffix_6
{
	padding-right:25.000%
}
.container_pdbe .suffix_7
{
	padding-right:29.167%
}
.container_pdbe .suffix_8
{
	padding-right:33.333%
}
.container_pdbe .suffix_9
{
	padding-right:37.500%
}
.container_pdbe .suffix_10
{
	padding-right:41.667%
}
.container_pdbe .suffix_11
{
	padding-right:45.833%
}
.container_pdbe .suffix_12
{
	padding-right:50.000%
}
.container_pdbe .suffix_13
{
	padding-right:54.167%
}
.container_pdbe .suffix_14
{
	padding-right:58.333%
}
.container_pdbe .suffix_15
{
	padding-right:62.500%
}
.container_pdbe .suffix_16
{
	padding-right:66.667%
}
.container_pdbe .suffix_17
{
	padding-right:70.833%
}
.container_pdbe .suffix_18
{
	padding-right:75.000%
}
.container_pdbe .suffix_19
{
	padding-right:79.167%
}
.container_pdbe .suffix_20
{
	padding-right:83.333%
}
.container_pdbe .suffix_21
{
	padding-right:87.500%
}
.container_pdbe .suffix_22
{
	padding-right:91.667%
}
.container_pdbe .suffix_23
{
	padding-right:95.833%
}
.container_pdbe .suffix_24
{
	padding-right:100.000%
}
.container_pdbe .push_1
{
	left:4.167%
}
.container_pdbe .push_2
{
	left:8.333%
}
.container_pdbe .push_3
{
	left:12.500%
}
.container_pdbe .push_4
{
	left:16.667%
}
.container_pdbe .push_5
{
	left:20.833%
}
.container_pdbe .push_6
{
	left:25.000%
}
.container_pdbe .push_7
{
	left:29.167%
}
.container_pdbe .push_8
{
	left:33.333%
}
.container_pdbe .push_9
{
	left:37.500%
}
.container_pdbe .push_10
{
	left:41.667%
}
.container_pdbe .push_11
{
	left:45.833%
}
.container_pdbe .push_12
{
	left:50.000%
}
.container_pdbe .push_13
{
	left:54.167%
}
.container_pdbe .push_14
{
	left:58.333%
}
.container_pdbe .push_15
{
	left:62.500%
}
.container_pdbe .push_16
{
	left:66.667%
}
.container_pdbe .push_17
{
	left:70.833%
}
.container_pdbe .push_18
{
	left:75.000%
}
.container_pdbe .push_19
{
	left:79.167%
}
.container_pdbe .push_20
{
	left:83.333%
}
.container_pdbe .push_21
{
	left:87.500%
}
.container_pdbe .push_22
{
	left:91.667%
}
.container_pdbe .push_23
{
	left:95.833%
}
.container_pdbe .push_24
{
	left:100.000%
}
.container_pdbe .pull_1
{
	left:-4.167%
}
.container_pdbe .pull_2
{
	left:-8.333%
}
.container_pdbe .pull_3
{
	left:-12.500%
}
.container_pdbe .pull_4
{
	left:-16.667%
}
.container_pdbe .pull_5
{
	left:-20.833%
}
.container_pdbe .pull_6
{
	left:-25.000%
}
.container_pdbe .pull_7
{
	left:-29.167%
}
.container_pdbe .pull_8
{
	left:-33.333%
}
.container_pdbe .pull_9
{
	left:-37.500%
}
.container_pdbe .pull_10
{
	left:-41.667%
}
.container_pdbe .pull_11
{
	left:-45.833%
}
.container_pdbe .pull_12
{
	left:-50.000%
}
.container_pdbe .pull_13
{
	left:-54.167%
}
.container_pdbe .pull_14
{
	left:-58.333%
}
.container_pdbe .pull_15
{
	left:-62.500%
}
.container_pdbe .pull_16
{
	left:-66.667%
}
.container_pdbe .pull_17
{
	left:-70.833%
}
.container_pdbe .pull_18
{
	left:-75.000%
}
.container_pdbe .pull_19
{
	left:-79.167%
}
.container_pdbe .pull_20
{
	left:-83.333%
}
.container_pdbe .pull_21
{
	left:-87.500%
}
.container_pdbe .pull_22
{
	left:-91.667%
}
.container_pdbe .pull_23
{
	left:-95.833%
}
.container_pdbe .pull_24
{
	left:-100.000%
}
.nopad
{
	padding:0
}
.icon-conceptual:before,.icon-functional:before,.icon-generic:before,.icon-species:before,.icon-socialmedia:before
{
	color:white
}
	html.fontface .pdbe-topic .icon-conceptual:before,html.fontface .pdbe-topic .icon-functional:before,html.fontface .pdbe-topic .icon-generic:before,html.fontface .pdbe-topic .icon-species:before,html.fontface .pdbe-topic .icon-socialmedia:before,html.fontface .shortcuts .icon-conceptual:before,html.fontface .shortcuts .icon-functional:before,html.fontface .shortcuts .icon-generic:before,html.fontface .shortcuts .icon-species:before,html.fontface .shortcuts .icon-socialmedia:before
{
	color:#333
}
	html.fontface .shortcuts .light-icon.icon-conceptual:before,html.fontface .shortcuts .light-icon.icon-functional:before,html.fontface .shortcuts .light-icon.icon-generic:before,html.fontface .shortcuts .light-icon.icon-species:before,html.fontface .shortcuts .light-icon.icon-socialmedia:before
{
	color:white
}
	html.fontface .light-icon.icon-conceptual:before,html.fontface .light-icon.icon-functional:before,html.fontface .light-icon.icon-generic:before,html.fontface .light-icon.icon-species:before,html.fontface .light-icon.icon-socialmedia:before
{
	color:white
}
	html.fontface .organism-scientific .icon-species:before
{
	color:#333
}
	html.fontface .dark-icon.icon-conceptual:before,html.fontface .dark-icon.icon-functional:before,html.fontface .dark-icon.icon-generic:before,html.fontface .dark-icon.icon-socialmedia:before,html.fontface .dark-icon.icon-species:before
{
	font-size:16px;
	color:#333;
	vertical-align:middle
}
.entry-heading h2
{
	margin:10px 0 0
}
	#intro h3
{
	font-size:161.6%;
	margin:10px 0 0;
	border-bottom:0
}
.pdbe-topic
{
	margin:1em 0 1em
}
.pdbe-topic h4
{
	border-bottom:1px solid #b3b3b3
}
.pdbe-shortcuts h4
{
	border-bottom:1px solid #b3b3b3;
	font-size:138.5%;
	line-height:inherit;
	margin-top:0;
	margin-bottom:0;
	padding-top:5px;
	padding-bottom:3px
}
.pdbe-shortcuts h5
{
	font-size:123%;
	font-variant:small-caps
}
	body.section-pdbe div#local-masthead
{
	background:#d8e5d8 url(images/banners/pdbe_local_banner.png) top right no-repeat
}
	body.section-pdbe div#local-title h1,body.section-pdbe div#local-title p,body.section-pdbe div#local-title a
{
	color:#666;
	text-shadow:1px 1px white
}
	body.section-pdbe div#local-title img
{
	margin-top:.4em
}
	body.section-pdbe .entry-breadcrumb
{
	float:left
}
	body.section-pdbe .release-dates
{
	float:right;
	width:29.5%
}
.pdbe_quick_links ul,.pdbe-shortcuts ul
{
	list-style:none;
	padding-left:9px
}
.pdbe_quick_links ul li.highlight,.pdbe-shortcuts ul li.highlight
{
	background-color:#bfbfbf
}
.pdbe_quick_links ul li.highlight *,.pdbe-shortcuts ul li.highlight *
{
	font-weight:bold
}
	ul.menu li
{
	margin:0 0 0 .5em
}
	ul li.leaf
{
	list-style-image:none;
	margin-left:-0.6em
}
.bullet
{
	height:6px;
	width:6px;
	position:relative;
	top:-1px;
	left:5px;
	display:inline-block;
	overflow:hidden;
	background-image:url(images/sprites/pdbe-sprite.png);
	background-position:0 0;
	z-index:100;
	margin-right:10px;
	*display:inline;
	*zoom:1
}
.data-label
{
	font-weight:bold
}
.citation-reference
{
	text-align:center
}
.pdbe-fact
{
	margin-bottom:9px
}
.ligands-environ-residue
{
	text-align:center
}
.ligands-environ-residue .data-label
{
	text-align:center;
	font-weight:normal
}
.ligands-environ-residue .residue-image
{
	border:1px solid #666;
	background-color:white
}
.pdbe_quick_related_reviews .reference
{
	font-size:87%
}
.pdbe_quick_related_reviews ul
{
	list-style:none;
	margin-bottom:0
}
.pdbe_quick_related_reviews .remaining
{
	margin:1em 0
}
.sequence_summary_widget
{
	margin-bottom:9px
}
.slideToggle,.field_expansion_toggle
{
	cursor:pointer;
	cursor:hand;
	line-height:16px
}
.field_expansion_toggle .toggle_image
{
	height:16px;
	width:16px;
	position:relative;
	display:inline-block;
	vertical-align:text-bottom;
	margin-right:.4em
}
.field_expansion_body.dark
{
	color:#fff;
	background-color:#666
}
.field_expansion_body.light
{
	background-color:#ddd
}
.field_expansion_body .field_expand_image
{
	height:12px;
	position:relative;
	display:block
}
.field_expansion_body.light .field_expand_image
{
	background:#fff url(images/sprites/pdbe-sprite.png) no-repeat 10px -78px
}
.field_expansion_body.dark .field_expand_image
{
	background:#fff url(images/sprites/pdbe-sprite.png) no-repeat 10px -60px
}
.field_expansion_body .field_expansion_body_content
{
	padding:5px
}
.field_expansion_body .full-report
{
	margin-left:4%;
	font-size:104%;
	font-weight:bold;
	background-color:#eee5d1;
	position:relative;
	top:0;
	padding:0 9px;
	padding-bottom:6px;
	border-radius:0 0 0 8px;
	box-shadow:-1px 1px 2px #BBB
}
.field_expansion_body .full-report.alt
{
	margin-left:0;
	font-size:104%;
	font-weight:bold;
	background-color:#eee5d1;
	position:relative;
	top:0;
	padding:2px 8px 0 8px;
	padding-bottom:6px;
	border-radius:0;
	box-shadow:-1px 1px 2px #BBB;
	right:-2px
}
.field_expansion_toggle .toggle_image.open
{
	background:#fff url(images/sprites/pdbe-sprite.png) no-repeat 0 -44px
}
.field_expansion_toggle .toggle_image.close
{
	background:#fff url(images/sprites/pdbe-sprite.png) no-repeat 0 -26px
}
	span[data-view="visible"] .entity_chain_ids
{
	display:none
}
.pdbe-shortcuts>div
{
	background:white
}
.pdbe-shortcuts>div ul li a
{
	display:block;
	border-bottom-color:#ccc
}
.moved-from-top
{
	display:none
}
	li>.ligand-instance-dot
{
	padding:3px 9px;
	display:inline-block;
	text-align:center;
	border:2px solid #bcb196;
	border-radius:32px;
	background-color:#e9d7ae
}
	li>.ligand-instance-dot:hover
{
	background-color:#e9d198
}
	li>.ligand-instance-dot a
{
	text-decoration:none;
	border:0
}
	li.active>.ligand-instance-dot
{
	background-color:#d3b671;
	border:2px solid #90815c
}
	li.active>.ligand-instance-dot a
{
	font-weight:bold
}
.full-report
{
	float:right;
	font-size:80%;
	color:#58669e;
	position:absolute;
	right:0
}
.full-report a:hover,.full-report a:focus,.full-report a:active
{
	color:#896b25
}
.not-impl
{
	border:4px tomato dashed!important
}
.from-external
{
	border:4px dodgerblue dashed!important
}
.goTerm
{
	cursor:help;
	border-bottom:1px #666 dotted
}
.goTerm:hover
{
	border-bottom:1px #666 dashed
}
.sp
{
	color:#666
}
.menu_closer
{
	cursor:pointer
}
.loading
{
	background:rgba(255,255,255,.8) url('images/widgets/loader.gif') 50% 50% no-repeat;
	background-size:5% 5%
}
	div#jkit-lightbox-bg
{
	display:none;
	position:fixed;
	left:0;
	top:0;
	z-index:10000;
	width:100%;
	height:100%;
	background:#000
}
	div#jkit-lightbox-content
{
	display:none;
	position:fixed;
	border:0;
	left:10%;
	top:100px;
	z-index:10001;
	width:80%;
	height:auto;
	background:#fff;
	padding:10px
}
	div#jkit-lightbox-title
{
	display:none;
	position:fixed;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	height:20px;
	left:0;
	top:0;
	z-index:10002;
	text-align:left
}
	div#jkit-lightbox-nav
{
	display:none;
	position:fixed;
	color:#fff;
	font-size:12px;
	font-weight:bold;
	height:20px;
	left:0;
	top:0;
	z-index:10003;
	text-align:right;
	width:50px;
	cursor:pointer;
	cursor:hand
}
	span#jkit-lightbox-nav-next
{
	margin-right:20px
}
	span#jkit-lightbox-nav-prev
{
	margin-right:10px
}
	span.jkit-lightbox-closer
{
	width:90px;
	background-color:tomato;
	height:28px;
	background:transparent url(images/widgets/close.png) no-repeat 60px;
	display:block;
	position:relative;
	top:-8px;
	right:10px;
	font-size:154%
}
	div.jkit-gallery-thumbs
{
	text-align:left;
	top:-50px;
	position:relative
}
.jkit-gallery-captions
{
	text-align:left;
	top:-50px;
	height:60px;
	position:relative;
	background:rgba(0,0,0,0.8)
}
	div.jkit-gallery-thumbs img
{
	width:120px;
	height:90px;
	border:5px transparent solid;
	background-color:#1e1e1e
}
	div.jkit-gallery-thumbs img.active
{
	border:5px #d3b671 solid
}
.portfolio-large
{
	text-align:left;
	background-color:#000
}
.portfolio-wrapper
{
	margin:0 3%
}
.portfolio-container
{
	color:#EEE;
	font-size:116%
}
.inner-content-tabs>ul,.tabs>ul li
{
	list-style:none;
	margin:0;
	padding-left:25%;
	overflow:hidden
}
.inner-content-tabs>ul li
{
	float:left;
	margin-right:1%;
	background:#fff;
	color:#000
}
.inner-content-tabs>ul li.active,.tabs>ul li:hover
{
	color:#fff
}
.inner-content-tabs>div
{
	padding-top:8px
}
	body.section-pdbe div#local-title
{
	margin-top:.5em
}
	body.section-pdbe .pdbe-intro-image
{
	text-align:center;
	float:right;
	display:inline-block;
	width:100%
}
	body.section-pdbe .pdbe-intro-image .pdbe-intro-image-wrapper
{
	background-color:#666;
	display:inline-block;
	width:100%;
	margin:0 auto;
	max-width:302px
}
	body.section-pdbe .pdbe-intro-image .pdbe-intro-image-wrapper .image-left
{
	width:66.667%;
	float:left
}
	body.section-pdbe .pdbe-intro-image .pdbe-intro-image-wrapper .image-right
{
	width:33.333%;
	float:right
}
	body.section-pdbe .image-x,body.section-pdbe .image-y,body.section-pdbe .image-z,body.section-pdbe .image-x-citation,body.section-pdbe .image-y-citation,body.section-pdbe .image-z-citation
{
	background-color:#fff;
	margin:1px
}
.image-x img,.image-y img,.image-z img
{
	margin:0
}
	body.section-pdbe .image-x-citation
{
	max-height:163px
}
	body.section-pdbe .image-y-citation,body.section-pdbe .image-z-citation
{
	width:80px;
	height:80px
}
	body.section-pdbe .pdbe-intro-relevant
{
	float:left
}
.extraContentMenu
{
	display:none;
	position:absolute;
	white-space:nowrap;
	z-index:300;
	border:1px solid #666;
	box-shadow:2px 2px 3px #b3b3b3;
	background-color:#fff;
	font-size:93%
}
.extraContentMenuHeader
{
	background-color:rgba(17,17,17,0.6);
	color:white;
	text-align:right;
	padding-right:9px
}
.extraContentMenu .extraContentMenuHeader a:link,.extraContentMenu .extraContentMenuHeader a:visited,.extraContentMenu .extraContentMenuHeader a:focus,.extraContentMenu .extraContentMenuHeader a:hover
{
	color:#fff
}
.extraContentMenuBody
{
	padding:9px;
	font-size:93%
}
.extraContentMenuBody a
{
	line-height:2
}
.colour-swatch
{
	display:inline-block;
	width:12px;
	height:12px;
	position:relative;
	top:2px
}
	body.section-pdbe #mobile-menu
{
	display:none
}
	#slider .panel-separator
{
	display:none
}
	#slider
{
	position:absolute;
	background:#ededed;
	display:none;
	width:65%;
	width:75%;
	z-index:10;
	box-shadow:3px 3px 5px gray
}
	body.section-pdbe .sequence_summary,body.section-pdbe .sequence_summary_label_right,body.section-pdbe .sequence_summary_label_left
{
	margin-top:9px;
	margin-bottom:5px;
	font-weight:bold;
	font-family:monospace
}
	body.section-pdbe .sequence_summary_label_right
{
	text-align:left;
	margin-left:0
}
	body.section-pdbe .sequence_summary_label_left
{
	text-align:right;
	margin-right:0
}
	body.section-pdbe .sequence_summary .pdbseqview_leftlabelcol,body.section-pdbe .sequence_summary .pdbseqview_rightlabelcol,body.section-pdbe .sequence_summary br
{
	display:none
}
	body.section-pdbe .pdbe_quick_related_reviews ul:first-of-type
{
	margin:0
}
.ui-tooltip
{
	word-wrap:break-word
}
.truncate-text
{
	white-space:nowrap;
	width:90%;
	overflow:hidden;
	text-overflow:ellipsis;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	display:inline-block;
	*display:inline;
	*zoom:1
}
.no-truncate-text
{
	word-wrap:break-word!important;
	word-break:break-all!important
}
.section-pdbe .responsive_show
{
	display:none!important;
	visibility:hidden!important
}
	@media only screen and (max-width:640px)
{
	body
{
	margin:0;
	padding:0;
	width:100%
}
	#intro h3
{
	padding:0;
	font-size:131%
}
.section-pdbe .reset_auto
{
	width:auto!important;
	float:none
}
.section-pdbe .reset_100
{
	width:98%!important;
	margin:inherit 1%!important;
	clear:both
}
.section-pdbe .reset_80
{
	width:78%!important;
	margin:0 1%!important;
	clear:both
}
.section-pdbe .reset_66
{
	width:64.667%!important;
	margin:0 1%!important;
	clear:both
}
.section-pdbe .reset_50
{
	width:48%!important;
	margin:0 1%!important;
	clear:both
}
.section-pdbe .reset_33
{
	width:31.333%!important;
	margin:0 1%!important;
	clear:both
}
.section-pdbe .reset_20
{
	width:18%!important;
	margin:0 1%!important;
	clear:both
}
.section-pdbe .responsive_hide
{
	display:none!important;
	visibility:hidden!important
}
.section-pdbe .responsive_show
{
	display:block!important;
	visibility:visible!important
}
	body.section-pdbe #mobile-menu
{
	background:0;
	background-color:white;
	display:inline-block;
	margin:0;
	position:absolute;
	right:2%;
	width:auto;
	top:.4em;
	font-size:11pt;
	line-height:1.1;
	vertical-align:bottom;
	border:1px solid #666;
	padding:1px 2px 3px 3px;
	border-radius:5px;
	cursor:pointer
}
	body.section-pdbe #mobile-menu img
{
	margin:0
}
	body.section-pdbe .local-search-form,body.section-pdbe .local-search-form #local-search fieldset
{
	margin:0!important;
	width:100%!important;
	border:0;
	padding:0
}
	div#local-search form fieldset div.left,form#local-search fieldset div.left
{
	width:78%;
	float:left;
	margin:1%
}
	body.section-pdbe .local-search-form #local-search
{
	padding:0
}
	body.section-pdbe .ebi-menu-icon
{
	text-indent:inherit;
	vertical-align:middle;
	position:relative;
	margin:0;
	left:0;
	top:0;
	float:right;
	font-weight:bold;
	line-height:.6em
}
	body.section-pdbe .ebi-menu-icon.icon-functional:before,body.section-pdbe .ebi-menu-icon.icon-generic:before,body.section-pdbe .ebi-menu-icon.icon-socialmedia:before,body.section-pdbe .ebi-menu-icon.icon-species:before
{
	color:#333;
	vertical-align:middle
}
	body.section-pdbe div#local-masthead nav
{
	display:none
}
	body.section-pdbe div#local-title
{
	width:100%;
	margin:0;
	display:block;
	background-color:rgba(216,229,216,0.8)
}
	body.section-pdbe div#local-title a
{
	width:10%;
	margin:0;
	display:block
}
	body.section-pdbe div#local-title span
{
	width:88%;
	margin:0;
	display:block
}
	body.section-pdbe div#local-title img
{
	margin:1%;
	width:100%;
	height:100%
}
	body.section-pdbe div#local-title p
{
	font-size:100%;
	padding:1%
}
	body.section-pdbe div#local-title
{
	margin-top:auto
}
	body.section-pdbe div#local-title.logo-title-strapline h1
{
	font-size:200%;
	width:100%;
	display:block;
	margin:.4em 0 0 0;
	padding:0 0 0 1%;
	white-space:nowrap;
	line-height:.5
}
	body.section-pdbe div#local-title.logo-title-strapline br
{
	display:none
}
	body.section-pdbe .pdbe-intro-image
{
	float:none;
	clear:both
}
	body.section-pdbe .pdbe-content,body.section-pdbe .pdbe-quick-info,body.section-pdbe .moved-from-top,body.section-pdbe .entry-content-left,body.section-pdbe .entry-content-right,body.section-pdbe .pdbe-intro-title,body.section-pdbe .pdbe-intro-method,body.section-pdbe .pdbe-intro-resolution,body.section-pdbe .pdbe-ligand-interaction,body.section-pdbe .pdbe-intro-citation
{
	width:98%;
	margin-left:1%;
	margin-right:1%;
	left:0
}
	body.section-pdbe .pdbe-quick-info.move-to-bottom
{
	display:none
}
	body.section-pdbe .moved-from-top
{
	display:block
}
	body.section-pdbe .pdbe-intro-citation .citation-doi
{
	width:98%;
	margin-left:1%;
	margin-right:1%;
	left:0
}
	body.section-pdbe .pdbe-intro-citation .citation-reference
{
	width:98%;
	text-align:left
}
	body.section-pdbe .entry-breadcrumb h2
{
	margin:9px 0 0 0;
	padding:0 5px;
	font-size:167%
}
	body.section-pdbe .sequence_summary,body.section-pdbe .sequence_summary_label_right,body.section-pdbe .sequence_summary_label_left
{
	margin-top:9px;
	margin-bottom:5px;
	font-weight:bold;
	font-family:monospace
}
	body.section-pdbe .sequence_summary_label_right
{
	text-align:left;
	margin-left:0
}
	body.section-pdbe .sequence_summary_label_left
{
	text-align:right;
	margin-right:0
}
	body.section-pdbe .sequence_summary .pdbseqview_leftlabelcol,body.section-pdbe .sequence_summary .pdbseqview_rightlabelcol,body.section-pdbe .sequence_summary br
{
	display:none
}
	body.section-pdbe .pdbe_quick_related_reviews ul:first-of-type
{
	margin:0
}
.ui-tooltip
{
	word-wrap:break-word
}
.flip-scroll table
{
	width:100%;
	border-collapse:collapse;
	border-spacing:0;
	border:1px solid #BBB;
	padding:0
}
.flip-scroll th,.flip-scroll td
{
	margin:0;
	vertical-align:top
}
.flip-scroll th
{
	text-align:left
}
.flip-scroll table
{
	display:block;
	position:relative;
	width:100%
}
.flip-scroll thead
{
	display:block;
	float:left
}
.flip-scroll tbody
{
	display:block;
	width:auto;
	position:relative;
	overflow-x:auto;
	white-space:nowrap
}
.flip-scroll thead tr
{
	display:block;
	width:auto!important
}
.flip-scroll th
{
	display:block;
	text-align:right;
	width:80%!important
}
.flip-scroll tbody tr
{
	display:inline-block;
	vertical-align:top
}
.flip-scroll td
{
	display:block;
	min-height:1.25em;
	text-align:left
}
.flip-scroll th
{
	border-bottom:0;
	border-left:0;
	width:80%!important
}
.flip-scroll td
{
	border-left:0;
	border-right:0;
	border-bottom:0
}
.flip-scroll tbody tr
{
	border-left:1px solid #babcbf
}
.flip-scroll th:last-child,.flip-scroll td:last-child
{
	border-bottom:1px solid #babcbf
}
	body.section-pdbe .field_expansion_body .full-report.alt
{
	right:4px
}
	span.jkit-lightbox-closer
{
	position:absolute;
	top:2em;
	right:10px;
	font-size:154%;
	color:#666
}

}
	@media only screen and (max-width:1382px)
{
	body
{
	max-width:1600px;
	margin:0 auto
}

}
.val-gradient
{
	background:#f00;
	background:url(data:image/svg+xml;
	base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background:-moz-linear-gradient(left,#f00 0,#fff 50%,#fff 51%,#00f 100%);
	background:-webkit-gradient(linear,left top,right top,color-stop(0%,#f00),color-stop(50%,#fff),color-stop(51%,#fff),color-stop(100%,#00f));
	background:-webkit-linear-gradient(left,#f00 0,#fff 50%,#fff 51%,#00f 100%);
	background:-o-linear-gradient(left,#f00 0,#fff 50%,#fff 51%,#00f 100%);
	background:-ms-linear-gradient(left,#f00 0,#fff 50%,#fff 51%,#00f 100%);
	background:linear-gradient(to right,#f00 0,#fff 50%,#fff 51%,#00f 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000',endColorstr='#0000ff',GradientType=1);
	position:absolute;
	height:100%;
	width:50%;
	margin:1px 0 1px 2%;
	border:1px solid #CCC;
	text-align:center;
	font-family:sans-serif;
	font-size:85%;
	line-height:1
}
.val-bucket
{
	border:2px solid #444;
	position:absolute;
	width:20%;
	height:inherit;
	left:-2px;
	margin-top:-2px;
	background-color:rgba(255,255,255,0.7)
}
.val-label
{
	position:relative;
	top:-4px;
	width:45%;
	max-width:45%;
	font-size:85%;
	overflow:hidden;
	text-overflow:ellipsis;
	display:inline-block;
	white-space:nowrap;
	-ms-text-overflow:ellipsis;
	-o-text-overflow:ellipsis;
	margin-top:-1.5%;
	font-family:Verdana,sans-serif;
	cursor:help;
	*display:inline;
	*zoom:1
}
.val-lane
{
	position:relative;
	display:block;
	width:100%;
	margin:0 0 6px 0;
	height:10px;
	border:0
}

/*FROM http://wwwdev.ebi.ac.uk/pdbe/entry/static/bundle-bundle_pdbe-ui-search_head.css*/

.tabs .view_navigation
{
	width:inherit;
	padding:0
}
.tabs .view_header
{
	display:inline;
	padding:0
}
.tabs .view_pager
{
	display:inline;
	padding:0;
	margin:0 1em 0 -0.5em
}
.tabs .view_pager li,.links li
{
	padding:0;
	list-style-type:none;
	display:inline
}
.tabs .view_pager li span
{
	border:1px solid #666;
	margin:0;
	padding:2px 6px;
	text-align:center
}
.tabs .view_pager li>.pager-current
{
	background-color:#666;
	color:#eee
}
.tabs .view_pager li>.pager-gap
{
	border:0
}
	